/* POPPINS FONT */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;


}

body {
  background: url('images/1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

/*---------------------login---------------------------------------*/

.wrapp {
  display: flex;
  position: absolute;
  top: 150px;
  left: 30px;
}

header {

  font-size: 30px;
  text-align: center;
  font-weight: bold;
  padding: 0px 0 30px 0;
  position: relative;
  right: 40px;


}

.welcomlogin {
  text-align: center;
  position: relative;
  right: 30px;
}

.colorScaffolding {
  color: #e77823;
}

.register-container,
.login-container {
  width: 100%;
  padding: 0 20px;
}

.register-container .two-forms {
  flex-direction: column;
  gap: 0;
}


.input-box1 a {
  text-decoration: none;
  color: #000;

}


.inputfieldlogin {
  font-size: 15px;
  background: #fff;
  color: #000;
  height: 50px;
  width: 83%;
  padding: 0px 40px 0 45px;
  border: 2px solid #e77823;
  position: relative;
  right: 20px;
  border-radius: 15px;
  outline: none;
  transition: .2s ease;
}

.submitlogin {
  font-size: 15px;
  font-weight: 500;
  color: black;
  height: 50px;
  width: 100%;
  border: none;
  border-radius: 15px;
  position: relative;
  right: 20px;
  outline: none;
  background: #e77823;
  cursor: pointer;
  transition: .3s ease-in-out;
}

.submitlogin:hover {
  background: #fff;
  box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
  border: 2px solid #e77823;
}

@media only screen and (max-width: 786px) {
  .inputfieldlogin {
    width: 190px;
    position: relative;
    right: 35px;

  }

  .submitlogin {
    position: relative;
    right: 40px;
    top: 70px;
  }

  header {
    position: relative;
    top: 70px;
  }

  .inputfieldlogin {
    width: 190px;
    position: relative;
    right: 35px;
    top: 70px;
  }

  .welcomlogin {
    font-size: 25px;
    position: relative;
    top: 70px;
  }
}

/*------------------------------ownerpage----------------------*/
.pageoner {
  display: flex;
  width: 80%;
  height: 90vh;
  max-height: 200px;
  position: relative;
  top: 150px;
  left: 10%;
}

.input-box a {
  text-decoration: none;
  color: #000;

}

.nameowner {
  font-size: 30px;
  position: relative;
  right: 40%;

}

.adminNameowner {
  font-size: 25px;
  font-weight: bold;

}

.inputfieldowner {
  font-size: 15px;
  font-weight: bold;
  background: #fff;
  color: #000;
  height: 50px;
  width: 30%;
  padding: 0px 40px 0 45px;
  border: 2px solid #e77823;
  position: relative;
  right: 20px;
  border-radius: 15px;
  outline: none;
  transition: .2s ease;

}

@media only screen and (max-width: 786px) {

  body {
    max-height: 20vh;
  }

  .pageoner {
    max-height: 90vh;
  }

  .input-box {
    position: relative;
    top: 150px;
  }

  .inputfieldowner {
    width: 300px;
    position: relative;
    top: -50px;
    right: 30px;
    font-weight: bold;
    font-size: 20px;
  }

  .adminNameowner {
    position: relative;
    top: 70px;
  }

  .nameowner {
    text-align: center;
    position: relative;
    right: 30px;

  }
}

/*---------------------sddArea-----------------------*/
.wrappe {
  display: flex;
  width: 80%;
  height: 90vh;
  position: relative;
  top: 150px;
  left: 10%;
}

.inputfieldarea {
  font-size: 15px;
  font-weight: bold;
  background: #fff;
  color: #000;
  height: 50px;
  width: 30%;
  padding: 0px 40px 0 45px;
  border: 2px solid #e77823;
  position: relative;
  right: 20px;
  border-radius: 15px;
  outline: none;
  transition: .2s ease;
}

.submitarea {
  font-size: 15px;
  font-weight: 500;
  color: black;
  height: 50px;
  width: 38%;
  border: none;
  border-radius: 15px;
  position: relative;
  right: 20px;
  outline: none;
  background: #e77823;
  cursor: pointer;
  transition: .3s ease-in-out;
}

.submitarea:hover {
  background: #fff;
  box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
  border: 2px solid #e77823;
}

@media only screen and (max-width: 786px) {
  .submitarea {
    width: 100%;
    position: relative;
    top: -50px;
    right: 40px;
  }

  .inputfieldarea {
    width: 200px;
    position: relative;
    top: -60px;
    right: 40px;


  }
}

/*--------------addlocation------------------*/
.inputfieldownerselect {
  font-size: 15px;
  font-weight: bold;
  background: #fff;
  color: #000;
  height: 50px;
  width: 38%;
  padding: 0px 40px 0 45px;
  border: 2px solid #e77823;
  position: relative;
  right: 40px;
  border-radius: 15px;
  outline: none;
  transition: .2s ease;
}

@media only screen and (max-width: 786px) {
  .inputfieldownerselect {
    position: relative;
    top: 15%;
    width: 100%;


  }
}

/*-------------creatAccount-----------------*/
.inputfieldownerselect-areatAccount {
  font-size: 15px;
  font-weight: bold;
  background: #fff;
  color: #000;
  height: 50px;
  width: 38%;
  padding: 0px 40px 0 45px;
  border: 2px solid #e77823;
  position: relative;
  right: 20px;
  border-radius: 15px;
  outline: none;
  transition: .2s ease;
}

@media only screen and (max-width: 786px) {
  .inputfieldownerselect-areatAccount {
    position: relative;
    top: 15%;
    width: 100%;
    right: 40px;
  }
}