/* POPPINS FONT */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;


}

body {
  background: url('images/1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

/*---------------------login---------------------------------------*/

.wrapp {
  display: flex;
  position: absolute;
  top: 150px;
  left: 30px;
}

header {

  font-size: 30px;
  text-align: center;
  font-weight: bold;
  padding: 0px 0 30px 0;
  position: relative;
  right: 40px;


}

.welcomlogin {
  text-align: center;
  position: relative;
  right: 30px;

}

.colorScaffolding {
  color: #e77823;
}

.register-container,
.login-container {
  width: 100%;
  padding: 0 20px;
}

.register-container .two-forms {
  flex-direction: column;
  gap: 0;
}


.input-box1 a {
  text-decoration: none;
  color: #000;

}


.inputfieldlogin {
  font-size: 15px;
  background: #fff;
  color: #000;
  height: 50px;
  width: 83%;
  padding: 0px 40px 0 45px;
  border: 2px solid #e77823;
  position: relative;
  right: 20px;
  border-radius: 15px;
  outline: none;
  transition: .2s ease;
}

.submitlogin {
  font-size: 15px;
  font-weight: 500;
  color: black;
  height: 50px;
  width: 100%;
  border: none;
  border-radius: 15px;
  position: relative;
  right: 20px;
  outline: none;
  background: #e77823;
  cursor: pointer;
  transition: .3s ease-in-out;
}

.submitlogin:hover {
  background: #fff;
  box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
  border: 2px solid #e77823;
}

@media only screen and (max-width: 940px) {
  .inputfieldlogin {
    width: 190px;
    position: relative;
    right: 35px;

  }

  .submitlogin {
    width: 95%;
    position: relative;
    right: 10px;
    top: 70px;
  }

  header {
    position: relative;
    top: 80px;
  }

  .inputfieldlogin {
    width: 190px;
    position: relative;
    right: 10px;
    top: 80px;
  }

  .welcomlogin {
    font-size: 25px;
    position: relative;
    top: 80px;
  }
}

/*------------------------------ownerpage----------------------*/
.pageoner {
  display: flex;
  width: 80%;
  height: 90vh;
  max-height: 200px;
  position: relative;
  top: 150px;
  left: 10%;
}

.input-box a {
  text-decoration: none;
  color: #000;

}

.nameowner {
  font-size: 30px;
  position: relative;
  right: 40%;

}

.adminNameowner {
  font-size: 25px;
  font-weight: bold;

}

.inputfieldowner {
  font-size: 15px;
  font-weight: bold;
  background: #fff;
  color: #000;
  height: 50px;
  width: 30%;
  padding: 0px 40px 0 45px;
  border: 2px solid #e77823;
  position: relative;
  right: 20px;
  border-radius: 15px;
  outline: none;
  transition: .2s ease;

}

.buttonlogout {
  text-align: center;
  text-decoration: none;
  height: 50px;
  font-weight: bold;
  font-size: 20px;
  position: relative;
  left: 10%;
  top: 30px;
  color: #e77823;

}

@media only screen and (max-width: 786px) {

  body {
    max-height: 20vh;
  }

  .pageoner {
    max-height: 90vh;
  }

  .input-box {
    position: relative;
    top: 150px;
  }

  .inputfieldowner {
    width: 300px;
    position: relative;
    top: -50px;
    right: 30px;
    font-weight: bold;
    font-size: 20px;
  }

  .adminNameowner {
    position: relative;
    top: 70px;
  }

  .nameowner {
    text-align: center;
    position: relative;
    right: 30px;

  }

  .buttonlogout {
    position: relative;
    left: 5px;
    padding: 0px 20px 0 20px;
  }
}

/*---------------------sddArea-----------------------*/
.wrappe {
  display: flex;
  width: 80%;
  height: 90vh;
  position: relative;
  top: 150px;
  left: 10%;
}

.inputfieldarea {
  font-size: 15px;
  font-weight: bold;
  background: #fff;
  color: #000;
  height: 50px;
  width: 30%;
  padding: 0px 40px 0 45px;
  border: 2px solid #e77823;
  position: relative;
  right: 20px;
  border-radius: 15px;
  outline: none;
  transition: .2s ease;
}

.submitarea {
  font-size: 15px;
  font-weight: 500;
  color: black;
  height: 50px;
  width: 38%;
  border: none;
  border-radius: 15px;
  position: relative;
  right: 20px;
  outline: none;
  background: #e77823;
  cursor: pointer;
  transition: .3s ease-in-out;
}

.submitarea:hover {
  background: #fff;
  box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
  border: 2px solid #e77823;
}

.Back {
  position: relative;
  left: 140px;
  font-size: 20px;
  text-decoration: none;
  top: 30px;
  color: #e77823;
  font-weight: bold;
}

@media only screen and (max-width: 786px) {
  .submitarea {
    width: 100%;
    position: relative;
    top: -50px;
    right: 20px;
  }

  .inputfieldarea {
    width: 200px;
    position: relative;
    top: -60px;
    right: 20px;



  }

  .Back {
    position: relative;
    left: 30px
  }
}

/*--------------addlocation------------------*/
.inputfieldownerselect {
  font-size: 15px;
  font-weight: bold;
  background: #fff;
  color: #000;
  height: 50px;
  width: 38%;
  padding: 0px 40px 0 45px;
  border: 2px solid #e77823;
  position: relative;
  right: 20px;
  border-radius: 15px;
  outline: none;
  transition: .2s ease;
}

.inputfieldareaitme {
  font-size: 15px;
  font-weight: bold;
  background: #fff;
  color: #000;
  height: 50px;
  width: 30%;
  padding: 0px 40px 0 45px;
  border: 2px solid #e77823;
  position: relative;
  right: 20px;
  border-radius: 15px;
  outline: none;
  transition: .2s ease;
}

.submitlocation {
  font-size: 15px;
  font-weight: 500;
  color: black;
  height: 50px;
  width: 38%;
  border: none;
  border-radius: 15px;
  position: relative;
  right: 20px;
  outline: none;
  background: #e77823;
  cursor: pointer;
  transition: .3s ease-in-out;
}

.submitlocation:hover {
  background: #fff;
  box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
  border: 2px solid #e77823;
}

@media only screen and (max-width: 786px) {
  .inputfieldownerselect {
    position: relative;
    top: 15%;
    width: 95%;


  }

  .inputfieldareaitme {
    position: absolute;
    top: 50%;
    width: 195px;
  }

  .submitlocation {
    position: relative;
    top: 110px;
    width: 300px;
  }
}

/*--------------------Item Description ------*/
.itemdes {
  font-size: 20px;
  font-weight: bold;
  position: relative;
  top: -100px;
}

.iteminput {
  font-size: 15px;
  font-weight: bold;
  background: #fff;
  color: #000;
  height: 50px;
  width: 30%;
  padding: 0px 40px 0 45px;
  border: 2px solid #e77823;
  position: relative;
  right: 20px;
  border-radius: 15px;
  outline: none;
  transition: .2s ease;
}

.Additem {
  font-size: 15px;
  font-weight: 500;
  color: black;
  height: 50px;
  width: 38%;
  border: none;
  border-radius: 15px;
  position: relative;
  right: 20px;
  outline: none;
  background: #e77823;
  cursor: pointer;
  transition: .3s ease-in-out;
}

@media only screen and (max-width: 786px) {
  .iteminput {
    width: 200px;
  }

  .Additem {
    width: 290px;
  }
}

/*-------------creatAccount-----------------*/
.inputfieldownerselect-areatAccount {
  font-size: 15px;
  font-weight: bold;
  background: #fff;
  color: #000;
  height: 50px;
  width: 38%;
  padding: 0px 40px 0 45px;
  border: 2px solid #e77823;
  position: relative;
  right: 20px;
  border-radius: 15px;
  outline: none;
  transition: .2s ease;
}

@media only screen and (max-width: 786px) {
  .inputfieldownerselect-areatAccount {
    position: relative;
    top: 15%;
    width: 100%;
    right: 20px;
  }
}

/*--------------------Home--------------*/
.adminhome {
  font-size: 30px;
  font-weight: bold;

}

.Notificationshome {
  font-size: 25px;
  font-weight: bold;
}

.addRequest {
  position: relative;
  top: 180px;
  font-weight: bold;
  font-size: 20px;
}

/*----------------addrequestNewrequest---------------------*/
.newrequest {
  display: flex;
  width: 80%;
  height: 90vh;
  position: relative;
  top: 70px;
  left: 10%;
}

.namerequest {
  font-size: 30px;
  position: absolute;
  right: 80%;


}

.labelnewrequest {
  font-size: 20px;
}

.input-length {
  font-size: 15px;
  font-weight: bold;
  background: #fff;
  color: #000;
  height: 50px;
  text-align: center;
  width: 80px;
  border: 2px solid #e77823;
  position: relative;
  left: 40px;
  border-radius: 15px;
  outline: none;
  transition: .2s ease;
}

.inputfieldselectnewreq {
  font-size: 15px;
  font-weight: bold;
  background: #fff;
  color: #000;
  height: 50px;
  width: 37%;
  padding: 0px 40px 0 45px;
  border: 2px solid #e77823;
  position: relative;
  right: 20px;
  border-radius: 15px;
  outline: none;
  transition: .2s ease;
}

.inputfieldnot {
  font-size: 15px;
  font-weight: bold;
  background: #fff;
  color: #000;
  height: 80px;
  width: 37%;

  border: 2px solid #e77823;
  position: relative;
  right: 20px;
  border-radius: 15px;
  outline: none;
  transition: .2s ease;
}

.inputfieldrequest {
  font-size: 15px;
  font-weight: bold;
  background: #fff;
  color: #000;
  height: 50px;
  width: 30%;
  padding: 0px 40px 0 45px;
  border: 2px solid #e77823;
  position: relative;
  right: 20px;
  border-radius: 15px;
  outline: none;
  transition: .2s ease;
}

.inputfieldrequestqty {
  font-size: 15px;
  font-weight: bold;
  background: #fff;
  color: #000;
  height: 50px;
  width: 25%;

  border: 2px solid #e77823;

  border-radius: 15px;
  outline: none;
  transition: .2s ease;
}

.labelnewrequestpriority {
  font-size: 20px;


}

.labelnewrequestnot {
  font-size: 20px;
}

.submitnewreq {
  font-size: 15px;
  font-weight: 500;
  color: black;
  height: 50px;
  width: 38%;
  border: none;
  border-radius: 15px;
  position: relative;
  right: 20px;
  outline: none;
  background: #e77823;
  cursor: pointer;
  transition: .3s ease-in-out;
}



@media only screen and (max-width: 900px) {
  .namerequest {
    position: relative;
    top: 150px;
    left: -20px;

  }

  .labelnewrequest {
    position: relative;
    top: -50px;
  }

  .inputfieldrequest {
    position: relative;
    top: -50px;
    width: 180px;
  }

  .input-length {
    position: relative;
    left: -10px;
    top: 130px;
  }

  .inputfieldselectnewreq {
    position: relative;
    top: 120px;
    width: 95%;

  }

  .labelnewrequestpriority {
    position: relative;
    top: 140px;


  }

  .priorty {
    position: relative;
    top: 130px;
  }

  .labelnewrequestnot {
    position: relative;
    top: 140px;
  }

  .inputfieldnot {
    position: relative;
    top: 150px;
    width: 260px;
    right: 10px;

  }

  .submitnewreq {
    position: relative;
    top: 20px;
    width: 280px;
  }

  .inputfieldrequestqty {
    position: relative;
    top: 80px;
    width: 90%;
  }

  .Notesaddreq {
    position: relative;
    top: 100px;

  }

  .rejectreason {
    position: absolute;
    top: 68%;
    font-size: 20px;
  }
}

/*------------------admin request-------------*/
.nameadminrequest {
  font-size: 20px;
  font-weight: bold;

}

@media only screen and (max-width: 900px) {

  .nameadminrequest {
    position: relative;
    top: 70px;
    font-size: 25px;
  }
}

/*--------------requestAction--------------*/
.inputfieldselectnewreqAction {
  font-size: 15px;
  font-weight: bold;
  background: #fff;
  color: #000;
  height: 50px;
  width: 38%;
  padding: 0px 40px 0 45px;
  border: 2px solid #e77823;
  position: relative;
  right: 20px;
  border-radius: 15px;
  outline: none;
  transition: .2s ease;
}

.input-lengthAction {
  font-size: 15px;
  font-weight: bold;
  background: #fff;
  color: #000;
  height: 50px;
  text-align: center;
  width: 80px;
  border: 2px solid #e77823;
  position: relative;
  left: 40px;
  border-radius: 15px;
  outline: none;
  transition: .2s ease;
}

.labelnewrequestpriorityAction {
  font-size: 20px;


}

.labelnewrequestnotAction {
  font-size: 20px;
}

.inputfieldnotAction {
  font-size: 15px;
  font-weight: bold;
  background: #fff;
  color: #000;
  height: 80px;
  width: 38%;

  border: 2px solid #e77823;
  position: relative;
  right: 20px;
  border-radius: 15px;
  outline: none;
  transition: .2s ease;
}

.submitnewreqAction {
  font-size: 15px;
  font-weight: 500;
  color: black;
  height: 50px;
  width: 38%;
  border: none;
  border-radius: 15px;
  position: relative;
  right: 20px;
  outline: none;
  background: #e77823;
  cursor: pointer;
  transition: .3s ease-in-out;
}


@media only screen and (max-width: 900px) {
  .inputfieldselectnewreqAction {
    position: relative;
    top: 90px;
    width: 100%;

  }

  .input-lengthAction {
    position: relative;
    left: -10px;
    top: 100px;
    width: 70px;
  }

  .labelnewrequestpriorityAction {
    position: absolute;
    top: 110%;


  }

  .priortyAction {
    position: relative;
    top: 100px;
  }

  .labelnewrequestnotAction {
    position: relative;
    top: 100px;
  }

  .inputfieldnotAction {
    position: relative;
    top: 100px;
    width: 230px;
    left: 10px;
  }

  .submitnewreqAction {
    position: relative;
    top: -30px;
    width: 280px;
  }
}


/*-----------------OTYExecuter---------------*/
.namerQTY {
  font-size: 25px;
  font-weight: bold;
}

.inputfieldownerselectqty {
  font-size: 15px;
  font-weight: bold;
  background: #fff;
  color: #000;
  height: 50px;
  width: 28%;
  padding: 0px 40px 0 45px;
  border: 2px solid #e77823;
  margin-right: 20px;
  border-radius: 15px;
  outline: none;
  transition: .2s ease;
}

.footersection {
  position: relative;
  margin-top: 70px;
  cursor: pointer;
  transition: .3s ease-in-out;
}

.footer {
  position: relative;
  margin-top: 40px;
  cursor: pointer;
  transition: .3s ease-in-out;
}

.Getrquest {
  color: #e77823;
  font-size: 20px;

}

.length {
  color: #e77823;
  font-size: 20px;
}

.inputfieldGetReq {
  font-size: 13px;
  font-weight: bold;

  color: #000;
  height: 50px;
  width: 95%;
  border: none;

  position: relative;
  left: 2px;
  border-radius: 5px;
  outline: none;
  transition: .2s ease;
}

.inputfieldGetReqoty {
  font-size: 13px;
  font-weight: bold;

  color: #000;
  height: 50px;
  width: 80%;
  text-align: center;

  position: relative;
  right: 3px;
  border-radius: 5px;
  outline: none;
  transition: .2s ease;
}

/* table */

.description {
  margin-top: -10px;
  width: 290px;
  border: 1px solid #e77823;
  border-radius: 10px;

}

.descriptiontable {
  margin-top: -10px;
  width: 300px;
  border: 1px solid #e77823;
  border-radius: 10px;
}

.descriptiontable tr {
  transition: all .2s ease-in;
  cursor: pointer;

}

.descriptiontable th,
.descriptiontable td {
  padding: 0px;
  text-align: left;
  border: 1px solid #ddd;
  text-align: center;

}

.descriptiontable tr:hover {
  background-color: #e77823;
  transform: scale(1.02);
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
}

.descriptiontable2 {
  border: 2px solid #e77823;
  width: 200px;
  height: 200px;
  border-radius: 10px;
}


.descriptiontable2 tr {
  transition: all .2s ease-in;
  cursor: pointer;
}

.descriptiontable2 th,
.descriptiontable2 td {
  padding: 0px;
  text-align: left;
  border: 1px solid #ddd;
  text-align: center;
}

.descriptiontable2 tr:hover {
  background-color: #e77823;
  transform: scale(1.02);
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
}

.itemestable {

  border: 2px solid #e77823;
  width: 200px;
  height: 200px;
  border-radius: 10px;
}

.itemestable tr {
  transition: all .2s ease-in;
  cursor: pointer;
}

.itemestable th,
.itemestable td {
  padding: 0px;
  text-align: left;
  border: 1px solid #ddd;
  text-align: center;
}

.itemestable tr:hover {
  background-color: #e77823;
  transform: scale(1.02);
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
}


.description tr {
  transition: all .2s ease-in;
  cursor: pointer;

}

.description th,
.description td {
  padding: 0px;
  text-align: left;
  border: 1px solid #ddd;
  text-align: center;

}

.description tr:hover {
  background-color: #e77823;
  transform: scale(1.02);
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
}


@media only screen and (max-width: 768px) {
  .description {
    width: 240px;
    margin-top: 120px;
    margin-right: 30px;
    margin-left: -30px;
  }

  .descriptiontable {
    width: 100px;
    margin-top: 90px;

  }

  .descriptiontable2 {
    margin-top: 70px;
    margin-left: -50px;
  }

  .itemestable {
    font-size: 13px;
    margin-top: 80px;
    margin-right: 40px;
    margin-left: -55px;
  }

  .inputfieldGetReqoty {
    width: 130px;

  }
}


.pipe,
.clamp,
.Wood {

  font-size: 14px;
  font-weight: bold;
  width: 50px;
  padding: 0 5px;
  text-align: center;

  border-radius: 10px;
}

.pipe2 {
  font-size: 14px;
  font-weight: bold;
  width: 120px;
  height: 30px;
  padding: 0 5px;
  text-align: center;
  border: 1px solid #e77823;
  border-radius: 5px;
}

.pipe1,
.clamp1,
.Wood1 {
  /* color: #fff; */
  font-size: 11px;
  font-weight: bold;
  width: 100px;
  height: 30px;
  padding: 0 5px;
  text-align: center;
  border: 1px solid #e77823;
  border-radius: 5px;
}

.pipiss {
  width: 30px;
  border: 1px #e77823 solid;
  border-radius: 5px;
  height: 30px;
  text-align: center;
}

.pipecomm {
  width: 120px;
  border: 1px #e77823 solid;
  border-radius: 5px;
  height: 30px;
}

.submitQTY {
  font-size: 15px;
  font-weight: 500;
  color: black;
  height: 50px;
  width: 28%;
  border: none;
  border-radius: 15px;


  outline: none;
  background: #e77823;
  cursor: pointer;
  transition: .3s ease-in-out;
}

.submitQTY2 {
  font-size: 15px;
  font-weight: 500;
  color: black;
  height: 50px;
  width: 28%;
  border: none;
  border-radius: 15px;
  margin-top: 2%;

  outline: none;
  background: #e77823;
  cursor: pointer;
  transition: .3s ease-in-out;
}

.submitDone {
  font-size: 15px;
  font-weight: 500;
  color: black;
  height: 50px;
  width: 25%;
  border: none;
  border-radius: 15px;
  margin-top: 20px;
  outline: none;
  background: #e77823;
  cursor: pointer;
  transition: .3s ease-in-out;
}

.submitDonereg {
  font-size: 15px;

  font-weight: 500;
  color: black;
  height: 50px;
  width: 25%;
  border: none;
  border-radius: 15px;
  outline: none;
  background: #e77823;
  cursor: pointer;
  transition: .3s ease-in-out;

}


@media only screen and (max-width: 900px) {
  .namerQTY {
    position: relative;
    top: 80px;
    font-weight: bolder;
  }

  .submitDone {
    width: 100%;
    margin-left: -20px;
  }

  .submitDonereg {
    position: relative;
    top: 90px;
    width: 300px;
    left: -30px;
  }

  .inputfieldGetReq {
    margin-right: 20px;
    width: 190px;
    border: none;
  }

  .submitQTY {
    width: 94%;

  }

  .inputfieldownerselectqty {
    width: 94%;
  }

  .Getrquest {
    position: relative;
    top: 80px;
  }

  .GetrquesQTY {
    position: relative;
    top: 80px;

  }

  .submitQTY2 {
    position: relative;
    left: -5px;
    width: 94%;

  }

  .pipiss {
    height: 10vh;
  }

  .pipecomm {
    width: 90px;
    height: 10vh;
  }

  .length {
    position: relative;
    top: 80px;
  }


  .pipe1 {
    width: 130px;
    font-size: 13px;
    height: 10vh;
    margin-right: 30px;
  }

  .pipe2 {
    height: 10vh;

  }


}




/*------------wereHosuse------------*/
.submitwere {
  font-size: 15px;
  font-weight: 500;
  color: black;
  height: 50px;
  width: 38%;
  border: none;
  border-radius: 15px;
  position: relative;
  right: 100px;
  top: 280px;
  outline: none;
  background: #e77823;
  cursor: pointer;
  transition: .3s ease-in-out;
}

.submitGetHose {
  font-size: 15px;
  font-weight: 500;
  color: black;
  height: 50px;
  width: 25%;
  border: none;
  border-radius: 15px;
  margin-top: 3%;
  margin-left: 20px;
  outline: none;
  background: #e77823;
  cursor: pointer;
  transition: .3s ease-in-out;
}

/*-----------------notification----------*/
.notification {
  text-decoration: none;
  font-size: 20px;
  color: #e77823;
  position: relative;
  top: 30px;
}

.notification:hover {
  color: #000;

}

.hrQty {
  position: relative;
  top: 30px;
  width: 25%;
  border: 1px solid #000
}

@media only screen and (max-width: 900px) {
  .notification {
    position: relative;
    top: 90px;
  }

  .submitGetHose {
    width: 100%;
    margin-left: -30px;



  }

  .notification:hover {
    color: #000;

  }

  .hrQty {
    position: relative;
    top: 80px;
    width: 100%;
  }
}

/* -------------requestAction-------*/
.requestAction {
  position: relative;
  top: 30px;

  font-size: 20px;
}

.requestActionArea {


  font-size: 20px;
}

.inputfieldnotAction {
  font-size: 15px;
  font-weight: bold;
  background: #fff;
  color: #000;
  height: 80px;
  width: 30%;

  border: 2px solid #e77823;
  position: relative;
  right: 20px;
  border-radius: 15px;
  outline: none;
  transition: .2s ease;
}

.inputlength {
  font-size: 15px;
  font-weight: bold;
  background: #fff;
  color: #000;
  height: 50px;
  text-align: center;
  width: 80px;
  border: 2px solid #e77823;
  position: relative;
  left: 40px;
  border-radius: 15px;
  outline: none;
  transition: .2s ease;
}

.inputfieldrequestAction {
  font-size: 15px;
  font-weight: bold;
  background: #fff;
  color: #000;
  height: 50px;
  width: 30%;
  padding: 0px 40px 0 45px;
  border: 2px solid #e77823;
  position: relative;
  right: 20px;
  border-radius: 15px;
  outline: none;
  transition: .2s ease;
}

@media only screen and (max-width: 900px) {

  .inputlength {
    position: relative;

    left: -20px;
  }

  .inputfieldrequestAction {
    width: 100%;

  }

  .inputfieldnotAction {
    width: 100%;
    position: relative;
    top: 5px;
    left: -20px;

  }
}

.submitacceptinspecter {
  font-size: 15px;
  font-weight: 500;
  color: black;
  height: 50px;
  width: 100px;
  border: none;
  border-radius: 15px;
  margin-top: 10px;
  outline: none;
  background: #e77823;
  cursor: pointer;
  transition: .3s ease-in-out;
}

.inputrejectreason {
  font-size: 15px;
  font-weight: bold;
  background: #fff;
  color: #000;
  height: 50px;
  width: 15%;
  padding: 0px 40px 0 45px;
  border: 2px solid #e77823;
  position: relative;
  right: 20px;
  border-radius: 15px;
  outline: none;
  transition: .2s ease;
}

.submitDismantling {
  font-size: 15px;
  font-weight: 500;
  color: black;
  height: 50px;
  width: 200px;
  border: none;
  border-radius: 15px;
  margin-top: 10px;
  outline: none;
  background: #e77823;
  cursor: pointer;
  transition: .3s ease-in-out;
}

@media only screen and (max-width: 900px) {
  .submitacceptinspecter {
    margin-top: 100px;
  }

  .inputrejectreason {
    width: 150px;
  }

  .submitDismantling {
    margin-top: 90px;
  }
}