/* POPPINS FONT */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background: url("images/1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.bodyaddrequest {
  background: url("images/1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 171vh;
}

/*---------------------login---------------------------------------*/

.wrapp {
  display: flex;
  position: absolute;
  top: 150px;
  left: 30px;
}

header {
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  padding: 0px 0 30px 0;
  position: relative;
  right: 40px;
}

.welcomlogin {
  text-align: center;
  position: relative;
  right: 30px;
}

.colorScaffolding {
  color: #e77823;
}

.register-container,
.login-container {
  width: 100%;
  padding: 0 20px;
}

.register-container .two-forms {
  flex-direction: column;
  gap: 0;
}

.input-box1 a {
  text-decoration: none;
  color: #000;
}

.inputfieldlogin {
  font-size: 15px;
  background: #fff;
  color: #000;
  height: 50px;
  width: 83%;
  padding: 0px 40px 0 45px;
  border: 2px solid #e77823;
  position: relative;
  right: 20px;
  border-radius: 15px;
  outline: none;
  transition: 0.2s ease;
}

.submitlogin {
  font-size: 15px;
  font-weight: 500;
  color: black;
  height: 50px;
  width: 100%;
  border: none;
  border-radius: 15px;
  position: relative;
  right: 20px;
  outline: none;
  background: #e77823;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.submitlogin:hover {
  background: #fff;
  box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
  border: 2px solid #e77823;
}

@media only screen and (max-width: 600px) {
  .inputfieldlogin {
    width: 190px;
    position: relative;
    top: 80px;
    left: 3px;
  }

  .submitlogin {
    width: 280px;
    position: relative;
    left: 3px;
    top: 80px;
  }

  header {
    position: relative;
    top: 80px;
    text-align: center;
  }

  .inputfieldlogin {
    width: 190px;
    position: relative;
    right: 10px;
    top: 80px;
  }

  .welcomlogin {
    font-size: 25px;
    position: relative;
    top: 110px;
    text-align: center;
  }
}

/*------------------------------ownerpage----------------------*/
.pageoner {
  display: flex;
  width: 80%;
  height: 90vh;
  max-height: 200px;
  position: relative;
  top: 150px;
  left: 10%;
}

.input-box a {
  text-decoration: none;
  color: #000;
}

.nameowner {
  font-size: 30px;
  position: relative;
  right: 40%;
}

.adminNameowner {
  font-size: 25px;
  font-weight: bold;
}

.inputfieldowner {
  font-size: 15px;
  font-weight: bold;
  background: #fff;
  color: #000;
  height: 50px;
  width: 30%;
  padding: 0px 40px 0 45px;
  border: 2px solid #e77823;
  position: relative;
  right: 20px;
  border-radius: 15px;
  outline: none;
  transition: 0.2s ease;
}

.buttonlogout {
  text-align: center;
  text-decoration: none;
  height: 50px;
  font-weight: bold;
  font-size: 20px;
  position: relative;
  left: 10%;
  top: 30px;
  color: #e77823;
}

@media only screen and (max-width: 786px) {
  body {
    max-height: 20vh;
  }

  .pageoner {
    max-height: 90vh;
  }

  .input-box {
    position: relative;
    top: 150px;
  }

  .inputfieldowner {
    width: 300px;
    position: relative;
    top: -50px;
    right: 16px;
    font-weight: bold;
    font-size: 20px;
  }

  .adminNameowner {
    position: relative;
    top: 70px;
  }

  .nameowner {
    text-align: center;
    position: relative;
    right: 30px;
  }

  .buttonlogout {
    position: relative;
    left: 5px;
    padding: 0px 20px 0 20px;
  }
}

/*---------------------sddArea-----------------------*/
.wrappe {
  display: flex;
  width: 80%;
  position: relative;
  top: 50px;
  left: 10%;
}

.wrappereq {
  display: flex;
  width: 80%;
  position: relative;
  top: 120px;
  left: 10%;
}

.inputfieldarea {
  font-size: 15px;
  font-weight: bold;
  background: #fff;
  color: #000;
  height: 50px;
  width: 30%;
  padding: 0px 40px 0 45px;
  border: 2px solid #e77823;
  position: relative;
  right: 20px;
  border-radius: 15px;
  outline: none;
  transition: 0.2s ease;
}

.submitarea {
  font-size: 15px;
  font-weight: 500;
  color: black;
  height: 50px;
  width: 38%;
  border: none;
  border-radius: 15px;
  position: relative;
  right: 20px;
  outline: none;
  background: #e77823;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.submitarea:hover {
  background: #fff;
  box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
  border: 2px solid #e77823;
}

.Back {
  position: relative;
  left: 140px;
  font-size: 20px;
  text-decoration: none;
  top: 30px;
  color: #e77823;
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  .wrappe {
    margin-top: 100px;
  }

  .wrappereq {
    margin-top: 30px;
  }

  .submitarea {
    width: 100%;
    position: relative;
    top: -50px;
    right: 20px;
  }

  .inputfieldarea {
    width: 200px;
    position: relative;
    top: -60px;
    right: 20px;
  }

  .Back {
    position: relative;
    left: 30px;
  }
}

/*--------------addlocation------------------*/

.inputfieldarea2 {
  font-size: 15px;
  font-weight: bold;
  background: #fff;
  color: #000;
  height: 50px;
  width: 37%;
  padding: 0px 40px 0 45px;
  border: 2px solid #e77823;
  position: relative;
  right: 20px;
  border-radius: 15px;
  outline: none;
  transition: 0.2s ease;
}

.inputfieldarea3 {
  font-size: 15px;
  font-weight: bold;
  background: #fff;
  color: #000;
  height: 50px;
  width: 30%;
  padding: 0px 40px 0 45px;
  border: 2px solid #e77823;
  position: relative;
  right: 20px;
  border-radius: 15px;
  outline: none;
  transition: 0.2s ease;
}

.inputfieldareaitme {
  font-size: 15px;
  font-weight: bold;
  background: #fff;
  color: #000;
  height: 50px;
  width: 30%;
  padding: 0px 40px 0 45px;
  border: 2px solid #e77823;
  position: relative;
  right: 20px;
  border-radius: 15px;
  outline: none;
  transition: 0.2s ease;
}

.submitlocation {
  font-size: 15px;
  font-weight: 500;
  color: black;
  height: 50px;
  width: 38%;
  border: none;
  border-radius: 15px;
  position: relative;
  right: 20px;
  outline: none;
  background: #e77823;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.submitlocation:hover {
  background: #fff;
  box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
  border: 2px solid #e77823;
}

@media only screen and (max-width: 600px) {
  .inputfieldownerselect {
    position: absolute;

    width: 95%;
  }

  .inputfieldarea2 {
    width: 285px;
    position: relative;
    top: 90px;
  }

  .inputfieldarea3 {
    width: 200px;
    position: relative;
    top: 70px;
  }

  .inputfieldareaitme {
    position: absolute;
    top: 50%;
    width: 195px;
  }

  .submitlocation {
    position: relative;
    top: 50px;
    width: 290px;
  }
}

/*--------------------Item Description ------*/
.itemdes {
  font-size: 20px;
  font-weight: bold;
  position: relative;
  top: -100px;
}

.iteminput {
  font-size: 15px;
  font-weight: bold;
  background: #fff;
  color: #000;
  height: 50px;
  width: 30%;
  padding: 0px 40px 0 45px;
  border: 2px solid #e77823;
  position: relative;
  right: 20px;
  border-radius: 15px;
  outline: none;
  transition: 0.2s ease;
}

.Additem {
  font-size: 15px;
  font-weight: 500;
  color: black;
  height: 50px;
  width: 38%;
  border: none;
  border-radius: 15px;
  position: relative;
  right: 20px;
  outline: none;
  background: #e77823;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.Additem:hover {
  background: #fff;
  box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
  border: 2px solid #e77823;
}

.Itemlabel {
  font-size: 20px;
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  .iteminput {
    width: 200px;
  }

  .Additem {
    width: 290px;
  }

  .input-item {
    margin-top: 70px;
  }
}

/*-------------creatAccount-----------------*/
.inputfieldownerselect-areatAccount {
  font-size: 15px;
  font-weight: bold;
  background: #fff;
  color: #000;
  height: 50px;
  width: 38%;
  padding: 0px 40px 0 45px;
  border: 2px solid #e77823;
  position: relative;
  right: 20px;
  border-radius: 15px;
  outline: none;
  transition: 0.2s ease;
}

@media only screen and (max-width: 600px) {
  .inputfieldownerselect-areatAccount {
    position: relative;
    top: 15%;
    width: 100%;
    right: 20px;
  }
}

/*--------------------Home--------------*/
.adminhome {
  font-size: 30px;
  font-weight: bold;
}

.Notificationshome {
  font-size: 25px;
  font-weight: bold;
}

.addRequest {
  position: relative;
  top: 180px;
  font-weight: bold;
  font-size: 20px;
}

/*----------------addrequestNewrequest---------------------*/
.newrequest {
  display: flex;
  width: 80%;
  height: 90vh;
  position: relative;
  top: 70px;
  left: 10%;
}

.newrExcauter {
  display: flex;
  width: 80%;
  height: 90vh;
  position: relative;
  top: 70px;
  left: 10%;
}

.namerequest {
  font-size: 30px;
  position: absolute;
  right: 80%;
}

.labelnewrequest {
  font-size: 20px;
}

.input-length {
  font-size: 15px;
  font-weight: bold;
  background: #fff;
  color: #000;
  height: 50px;
  text-align: center;
  width: 80px;
  border: 2px solid #e77823;
  position: relative;
  left: 40px;
  border-radius: 15px;
  outline: none;
  transition: 0.2s ease;
}

.inputfieldselectnewreq {
  font-size: 15px;
  font-weight: bold;
  background: #fff;
  color: #000;
  height: 50px;
  width: 37%;
  padding: 0px 40px 0 45px;
  border: 2px solid #e77823;
  position: relative;
  right: 20px;
  border-radius: 15px;
  outline: none;
  transition: 0.2s ease;
}

.inputfieldnot {
  font-size: 15px;
  font-weight: bold;
  background: #fff;
  color: #000;
  height: 60px;
  width: 32%;
  padding: 0px 20px 20px;
  border: 2px solid #e77823;
  margin-top: 15px;
  border-radius: 15px;
  outline: none;
  transition: 0.2s ease;
}

.inputfieldrequest {
  font-size: 15px;
  font-weight: bold;
  background: #fff;
  color: #000;
  height: 50px;
  width: 30%;
  padding: 0px 40px 0 45px;
  border: 2px solid #e77823;
  position: relative;
  right: 20px;
  border-radius: 15px;
  outline: none;
  transition: 0.2s ease;
}

.inputfieldrequestqty {
  font-size: 15px;
  font-weight: bold;
  background: #fff;
  color: #000;
  height: 50px;
  width: 24%;
  text-align: center;
  border: 2px solid #e77823;

  border-radius: 15px;
  outline: none;
  transition: 0.2s ease;
}

.labelnewrequestpriority {
  font-size: 20px;
}

.labelnewrequestnot {
  font-size: 20px;
}

.submitnewreq {
  font-size: 15px;
  font-weight: 500;
  color: black;
  height: 50px;
  width: 38%;
  border: none;
  border-radius: 15px;
  position: relative;
  right: 20px;
  outline: none;
  background: #e77823;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.submitnewreq:hover {
  background: #fff;
  box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
  border: 2px solid #e77823;
}


.rejectreason2 {
  font-size: 15px;
  margin-top: 10px;
  background: #fff;
  color: #000;
  height: 60px;
  width: 21%;
  padding: 0px 20px 20px;
  border: 2px solid #e77823;


  border-radius: 15px;
  outline: none;
  transition: 0.2s ease;
}

@media only screen and (max-width: 600px) {
  .namerequest {
    position: relative;
    top: 150px;
    left: -20px;
  }

  .labelnewrequest {
    position: relative;
    top: -50px;
  }

  .inputfieldrequest {
    position: relative;
    top: -50px;
    width: 180px;
  }

  .input-length {
    position: relative;
    left: -10px;
    top: 130px;
  }

  .inputfieldselectnewreq {
    position: relative;
    top: 120px;
    width: 95%;
  }

  .labelnewrequestpriority {
    position: relative;
    top: 140px;
  }

  .priorty {
    position: relative;
    top: 130px;
  }

  .labelnewrequestnot {
    position: relative;
    top: 140px;
  }

  .inputfieldnot {
    position: relative;
    top: 150px;
    width: 200px;
    right: 10px;
  }

  .submitnewreq {
    width: 280px;
    margin-top: 20px;
  }

  .inputfieldrequestqty {
    position: relative;
    top: 80px;
    width: 90%;
    margin-left: -10px;
  }

  .Notesaddreq {
    position: relative;
    top: 100px;
  }

  .rejectreason {
    margin-top: 80px;
    font-size: 20px;
    font-weight: bold;
  }

  .rejectreason2 {
    position: relative;
    top: 70px;
    font-size: 15px;
    width: 70%;
    font-weight: bold;

  }

  .newrExcauter {
    margin-top: 80px;

  }
}

/*------------------admin request-------------*/
.nameadminrequest {
  font-size: 20px;
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  .nameadminrequest {
    position: relative;
    top: 90px;
    font-size: 25px;
  }
}

/*--------------requestAction--------------*/
.inputfieldselectnewreqAction {
  font-size: 15px;
  font-weight: bold;
  background: #fff;
  color: #000;
  height: 50px;
  width: 38%;
  padding: 0px 40px 0 45px;
  border: 2px solid #e77823;
  position: relative;
  right: 20px;
  border-radius: 15px;
  outline: none;
  transition: 0.2s ease;
}

.input-lengthAction {
  font-size: 15px;
  font-weight: bold;
  background: #fff;
  color: #000;
  height: 50px;
  text-align: center;
  width: 80px;
  border: 2px solid #e77823;
  position: relative;
  left: 40px;
  border-radius: 15px;
  outline: none;
  transition: 0.2s ease;
}

.labelnewrequestpriorityAction {
  font-size: 20px;
}

.labelnewrequestnotAction {
  font-size: 20px;
}

.inputfieldnotAction {
  font-size: 15px;
  font-weight: bold;
  background: #fff;
  color: #000;
  height: 80px;
  width: 38%;

  border: 2px solid #e77823;
  position: relative;
  right: 20px;
  border-radius: 15px;
  outline: none;
  transition: 0.2s ease;
}

.submitnewreqAction {
  font-size: 15px;
  font-weight: 500;
  color: black;
  height: 50px;
  width: 38%;
  border: none;
  border-radius: 15px;
  position: relative;
  right: 20px;
  outline: none;
  background: #e77823;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.submitnewreqAction:hover {
  background: #fff;
  box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
  border: 2px solid #e77823;
}

@media only screen and (max-width: 600px) {
  .inputfieldselectnewreqAction {
    position: relative;
    top: 90px;
    width: 100%;
  }

  .input-lengthAction {
    position: relative;
    left: -10px;
    top: 100px;
    width: 70px;
  }

  .labelnewrequestpriorityAction {
    position: absolute;
    top: 110%;
  }

  .priortyAction {
    position: relative;
    top: 100px;
  }

  .labelnewrequestnotAction {
    position: relative;
    top: 100px;
  }

  .inputfieldnotAction {
    position: relative;
    top: 100px;
    width: 230px;
    left: 10px;
  }

  .submitnewreqAction {
    position: relative;
    top: -30px;
    width: 280px;
  }
}

/*-----------------OTYExecuter---------------*/
.namerQTY {
  font-size: 25px;
  font-weight: bold;
}

.inputfieldownerselectqty {
  font-size: 15px;
  font-weight: bold;
  background: #fff;
  color: #000;
  height: 50px;
  width: 28%;
  padding: 0px 40px 0 45px;
  border: 2px solid #e77823;
  margin-right: 20px;
  border-radius: 15px;
  outline: none;
  transition: 0.2s ease;
}

.Getrquest {
  color: #e77823;
  font-size: 20px;
}

.length {
  color: #e77823;
  font-size: 20px;
}

.inputfieldGetReq {
  font-size: 15px;
  text-align: center;
  font-weight: bold;
  color: #000;
  height: 50px;
  width: 95%;
  border: none;
  position: relative;
  left: 2px;
  border-radius: 5px;
  outline: none;
  transition: 0.2s ease;
}




.QTYnotes {
  font-size: 15px;
  font-weight: bold;
  background: #fff;
  color: #000;
  height: 60px;
  width: 20%;
  padding: 0px 20px 20px;
  border: 2px solid #e77823;

  margin-top: 30px;
  border-radius: 15px;
  outline: none;
  transition: 0.2s ease;
}

.GetOTYNote {
  color: #e77823;

  font-size: 20px;
}

/*table QTY Executer*/

.itemestablerq1 {
  width: 24%;
  border: 2px solid #e77823;
  border-radius: 10px;
}

.itemestablerq1 tr {
  transition: all 0.2s ease-in;
  border: 2px solid #e77823;

}

.itemestablerq1 tr:hover {
  background-color: #ddd;
  transform: scale(1.02);
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
}

*/
/* table */



.descriptiontable {
  margin-top: -10px;
  width: 300px;
  border: 2px solid #e77823;
  border-radius: 10px;
}

.descriptiontable tr {
  transition: all 0.2s ease-in;
  cursor: pointer;
}

.descriptiontable th,
.descriptiontable td {
  padding: 0px;
  text-align: left;
  border: 1px solid #ddd;
  text-align: center;
}

.descriptiontable tr:hover {
  background-color: #e77823;
  transform: scale(1.02);
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
}

.descriptiontable2 {
  border: 2px solid #e77823;
  width: 300px;
  height: 200px;
  border-radius: 10px;
  margin-top: 10px;

}

.descriptiontable2 tr {
  transition: all 0.2s ease-in;
  cursor: pointer;
}

.descriptiontable2 th,
.descriptiontable2 td {
  padding: 0px;
  text-align: left;
  border: 1px solid #ddd;
  text-align: center;
}

.descriptiontable2 tr:hover {
  background-color: #ddd;
  transform: scale(1.02);
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
}

.descriptiontableReceivingMaterials {
  border: 2px solid #e77823;
  width: 400px;
  height: 200px;
  border-radius: 10px;
  margin-top: 10px;
  position: relative;

}

.descriptiontableReceivingMaterials tr {
  transition: all 0.2s ease-in;
  cursor: pointer;
}

.descriptiontableReceivingMaterials th,
.descriptiontableReceivingMaterials td {
  padding: 0px;
  text-align: left;
  border: 1px solid #ddd;
  text-align: center;
}

.descriptiontableReceivingMaterialstr:hover {
  background-color: #e77823;
  transform: scale(1.02);
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
}

.itemestable {
  border: 2px solid #e77823;
  height: 200px;
  border-radius: 10px;
  margin-left: -110px;
}

.itemestable tr {
  transition: all 0.2s ease-in;
  cursor: pointer;
}

.itemestable th,
.itemestable td {
  padding: 0px;

  border: 1px solid #ddd;
  text-align: center;
}

.itemestable tr:hover {
  background-color: #e77823;
  transform: scale(1.02);
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
}



.itemestablerq {
  margin-top: -10px;

  width: 290px;
  border: 2px solid #e77823;
  border-radius: 10px;
}

.itemestablerq tr {
  transition: all 0.2s ease-in;
  cursor: pointer;
}

.itemestablerq th,
.itemestablerq td {
  padding: 0px;
  text-align: left;
  border: 1px solid #ddd;
  text-align: center;
}

.itemestablerq tr:hover {
  background-color: #ddd;
  transform: scale(1.02);
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
}


@media only screen and (max-width: 600px) {

  .descriptiontable {
    width: 100px;
    margin-top: 90px;
  }

  .descriptiontable2 {
    margin-top: 90px;
    margin-left: -40px;
  }

  .descriptiontableReceivingMaterials {
    width: 90px;
    margin-top: 90px;
  }

  .itemestable {
    font-size: 13px;
    margin-top: 80px;
    margin-left: -50px;
  }

  .itemestablerq {
    width: 240px;
    margin-left: -53px;
    margin-top: 20px;
  }

  .itemestablerq1 {
    width: 260px;
    margin-top: 90px;
    margin-left: -5px;
  }



  .GetOTYNote {
    position: relative;
    top: 70px;
  }

  .QTYnotes {
    position: relative;
    top: 60px;
    width: 74%;
    left: 5px;
  }
}

.pipe2 {
  font-size: 14px;
  font-weight: bold;
  width: 60px;
  height: 30px;
  padding: 0 5px;
  text-align: center;
  border: none;
  border-radius: 5px;
}

.pipe1,
.clamp1,
.Wood1 {
  /* color: #fff; */
  font-size: 14px;
  font-weight: bold;
  width: 200px;
  height: 35px;
  margin-left: 8px;
  text-align: center;
  border: none;
  border-radius: 5px;
}

.pipiss {
  width: 35px;
  border: 1px #e77823 solid;
  border-radius: 5px;
  height: 30px;
  text-align: center;
}

.pipecomm {
  width: 200px;
  border: 1px #e77823 solid;
  border-radius: 5px;
  height: 30px;
}

.pipecomitm {
  width: 100px;
  border: 1px #e77823 solid;
  border-radius: 5px;
  height: 30px;
}

.submitQTY {
  font-size: 15px;
  font-weight: 500;
  color: black;
  height: 50px;
  width: 25%;
  border: none;
  border-radius: 15px;

  outline: none;
  background: #e77823;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.submitQTY2 {
  font-size: 15px;
  font-weight: 500;
  color: black;
  height: 50px;
  width: 30%;
  border: none;
  border-radius: 15px;
  margin-top: 2%;

  outline: none;
  background: #e77823;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.submitQTYReceining {
  font-size: 15px;
  font-weight: 500;
  color: black;
  height: 50px;
  width: 25%;
  border: none;
  border-radius: 15px;
  margin-top: 2%;

  outline: none;
  background: #e77823;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.submitDone {
  font-size: 15px;
  font-weight: 500;
  color: black;
  height: 50px;
  width: 25%;
  border: none;
  border-radius: 15px;
  margin-top: 20px;
  margin-left: 30px;
  outline: none;
  background: #e77823;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.submitDonereg {
  font-size: 15px;
  margin-bottom: 30px;
  margin-top: 20px;
  font-weight: 500;
  color: black;
  height: 50px;
  width: 25%;
  border: none;
  border-radius: 15px;
  outline: none;
  background: #e77823;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

@media only screen and (max-width: 600px) {
  .namerQTY {
    position: relative;
    top: 80px;
    font-weight: bolder;
  }

  .submitDone {
    width: 100%;
    margin-left: -20px;
  }

  .submitDonereg {
    position: relative;
    left: 10px;
    width: 230px;

  }

  .inputfieldGetReq {
    margin-right: 20px;
    width: 130px;
    border: none;
  }

  .submitQTY {
    width: 94%;
    margin-right: 20px;
  }

  .inputfieldownerselectqty {
    width: 94%;
  }

  .Getrquest {
    position: relative;
    top: 80px;
  }

  .GetrquesQTY {
    position: relative;
    top: 80px;
  }

  .submitQTY2 {
    margin-top: 80px;
    width: 88%;
  }

  .submitQTYReceining {
    position: relative;
    width: 80%;

  }

  .pipiss {
    height: 10vh;
  }

  .pipecomm {
    width: 70px;
    height: 10vh;
  }

  .pipecomitm {
    width: 70px;
    height: 10vh;
  }

  .length {
    position: relative;
    top: 80px;
  }

  .pipe2 {
    height: 5vh;
    border: 1px solid #e77823;
  }

  .pipe1 {
    width: 180px;
  }
}

/*------------wereHosuse------------*/
.submitwere {
  font-size: 15px;
  font-weight: 500;
  color: black;
  height: 50px;
  width: 38%;
  border: none;
  border-radius: 15px;
  position: relative;
  right: 100px;
  top: 280px;
  outline: none;
  background: #e77823;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.submitwere:hover {
  background: #fff;
  box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
  border: 2px solid #e77823;
}

.submitGetHose {
  font-size: 15px;
  font-weight: 500;
  color: black;
  height: 50px;
  width: 25%;
  border: none;
  border-radius: 15px;
  margin-top: 3%;
  margin-left: 50px;
  outline: none;
  background: #e77823;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.submitGetHose:hover {
  background: #fff;
  box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
  border: 2px solid #e77823;
}

.buttondismantling {
  font-size: 15px;
  font-weight: 500;
  color: black;
  height: 50px;
  width: 20%;
  border: none;
  border-radius: 15px;
  margin-left: 20px;

  outline: none;
  background: #e77823;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

/*-----------------notification----------*/
.notification {
  text-decoration: none;
  font-size: 20px;
  color: #e77823;
  position: relative;
  top: 30px;
}

.notification:hover {
  color: #000;
}

.hrQty {
  position: relative;
  top: 30px;
  width: 25%;
  border: 1px solid #000;
}

.reqhr {
  width: 25%;
  margin-top: 2%;
  border: 1px solid #000;
}

@media only screen and (max-width: 600px) {
  .notification {
    position: relative;
    top: 90px;
  }

  .buttondismantling {
    width: 93%;
    margin-left: -30PX;
  }

  .submitGetHose {
    width: 93%;
    margin-left: -10px;
  }

  .notification:hover {
    color: #000;
  }

  .hrQty {
    position: relative;
    top: 80px;
    width: 100%;
  }

  .reqhr {
    width: 100%;


  }
}

/* -------------requestAction-------*/
.requestAction {
  position: relative;
  top: 30px;

  font-size: 20px;
}

.requestActionArea {
  font-size: 20px;
}

.inputfieldnotAction {
  font-size: 15px;
  font-weight: bold;
  background: #fff;
  color: #000;
  height: 80px;
  width: 30%;

  border: 2px solid #e77823;
  position: relative;
  right: 20px;
  border-radius: 15px;
  outline: none;
  transition: 0.2s ease;
}

.inputlength {
  font-size: 15px;
  font-weight: bold;
  background: #fff;
  color: #000;
  height: 50px;
  text-align: center;
  width: 80px;
  border: 2px solid #e77823;
  position: relative;
  left: 40px;
  border-radius: 15px;
  outline: none;
  transition: 0.2s ease;
}

.inputfieldrequestAction {
  font-size: 15px;
  font-weight: bold;
  background: #fff;
  color: #000;
  height: 50px;
  width: 30%;
  padding: 0px 40px 0 45px;
  border: 2px solid #e77823;
  position: relative;
  right: 20px;
  border-radius: 15px;
  outline: none;
  transition: 0.2s ease;
}

@media only screen and (max-width: 600px) {
  .inputlength {
    position: relative;

    left: -20px;
  }

  .inputfieldrequestAction {
    width: 100%;
  }

  .inputfieldnotAction {
    width: 100%;
    position: relative;
    top: 5px;
    left: -20px;
  }
}

.submitacceptinspecter {
  font-size: 15px;
  font-weight: 500;
  color: black;
  height: 50px;
  width: 100px;
  border: none;
  border-radius: 15px;
  margin-top: 10px;
  margin-left: 30px;
  outline: none;
  background: #e77823;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.submitacceptinspecter:hover {
  background: #fff;
  box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
  border: 2px solid #e77823;
}

.inputrejectreason {
  font-size: 15px;
  font-weight: bold;
  background: #fff;
  color: #000;
  height: 70px;
  width: 19%;
  padding: 0px 40px 0 45px;
  border: 2px solid #e77823;
  position: relative;

  border-radius: 15px;
  outline: none;
  transition: 0.2s ease;
}

.submitDismantling {
  font-size: 15px;
  font-weight: 500;
  color: black;
  height: 50px;
  width: 200px;
  border: none;
  border-radius: 15px;
  margin-top: 10px;
  outline: none;
  background: #e77823;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.submitDismantling:hover {
  background: #fff;
  box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
  border: 2px solid #e77823;
}

@media only screen and (max-width: 600px) {
  .submitacceptinspecter {
    margin-top: 70px;
    margin-left: 20px;
  }

  .inputrejectreason {
    width: 150px;
    margin-left: 10px;
  }

  .submitDismantling {
    margin-top: 90px;
  }
}

/*-----------------error---------------*/
.error {
  color: red;
  font-weight: bold;
  position: absolute;
  top: 115px;
}

.errorrequest {
  color: red;
  margin-top: 5px;
  margin-left: 50px;
  font-weight: bold;

}

@media only screen and (max-width: 600px) {
  .error {
    position: absolute;
    top: 57%;
  }
}

/*-----inspicter------*/
.Getnote {
  font-size: 15px;
  font-weight: bold;
  background: #fff;
  color: #000;
  height: 60px;
  width: 22%;
  padding: 0px 20px 20px;
  border: 2px solid #e77823;

  margin-top: 30px;
  border-radius: 15px;
  outline: none;
  transition: 0.2s ease;
}

@media only screen and (max-width: 600px) {
  .Getnote {
    position: relative;
    top: 60px;
    width: 74%;
  }

  .Print {
    position: relative;
    left: -90px;
  }

  .ReceivingMaterials {
    position: relative;
    top: 70px;
    right: 60px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
  }

  .Issued {
    display: none;
  }

  .printwerehouse {
    position: relative;
    left: 50px;
  }
}

.ReceivingMaterials {
  margin-left: 50px;
}

.ReceivingMaterialswere {
  margin-left: 90px;
  display: none;
}

.Print {
  font-size: 15px;
  font-weight: 500;
  color: black;
  height: 50px;
  width: 250px;
  border: none;
  border-radius: 15px;
  margin-top: 70px;
  outline: none;
  margin-left: 100px;
  background: #e77823;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.Print:hover {
  background: #fff;
  box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
  border: 2px solid #e77823;
}

.Issued {
  margin-top: 100px;
  margin-left: 20px;
}

.Issuedprint {
  margin-top: 100px;
  margin-left: 20px;
  display: none;
}

@media print {
  #printButton {
    display: none;
  }

  .itemestable {
    margin-left: 2px;
  }

  .Back {
    display: none;
  }

  .Issuedprint {
    display: block;
  }

  .ReceivingMaterialswere {
    display: block;
  }

  button,
  .notPrint {
    display: none;
  }

  .pipiss,
  .pipecomm {
    background-color: transparent;
    resize: none;
    text-align: center;
    border: 1px solid transparent;
  }
}

.printwerehouse {
  margin-left: 17%;
  color: rgb(231, 120, 35);
  margin-top: 10px;
  font-size: 20px;
}

.fa-xmark {
  color: #e77823;
  width: 20px;
}